<mat-nav-list>
    <div class="user-card">
        <div class="header">
            <h2>User name</h2>
            <h4>usermail@example.com</h4>
        </div>
        <div class="user-img">
            <img class="photo" src="../assets/img/user/cooldog.jpg"/>
        </div>
    </div>
    <h2 class="nav-titulo" matSubheader>HERRAMIENTAS : </h2>
    <a mat-list-item routerLink="/">Principal</a>
    <a mat-list-item routerLink="/muestras">Muestreo</a>
    <a mat-list-item routerLink="/caja">Caja</a>
    <a mat-list-item >Otra cosa</a>
</mat-nav-list>