<ul ngbNav class="nav-tabs">
    <li [routerLink]="['liquidacion']" class="nav-item px-2" id="navmayorventas" [ngbNavItem]="1">
      <a ngbNavLink>FORMULARIO DE LIQUIDACION</a>
    </li>
    <li ngbDropdown class="nav-item px-2" [ngbNavItem]="2">
        <a href (click)="false" class="nav-link" ngbDropdownToggle>OPERACIONES</a>
        <div ngbDropdownMenu>
            <button ngbDropdownItem [routerLink]="['cajachica']">CAJA CHICA</button>
            <button ngbDropdownItem [routerLink]="['entregarendir']">ENTREGAS A RENDIR</button>
            <button ngbDropdownItem [routerLink]="['parametros']">PARAMETROS</button>
            <div class="dropdown-divider"></div>
            <button ngbDropdownItem [routerLink]="['cajaresumen']">RESUMEN CAJA CHICA</button>
            <button ngbDropdownItem [routerLink]="['cajaresumen']">RESUMEN ENTREGAS A RENDIR</button>
        </div>
    </li>
    <li ngbDropdown class="nav-item px-2" [ngbNavItem]="3">
        <a href (click)="false" class="nav-link" ngbDropdownToggle>UTILITARIOS</a>
        <div ngbDropdownMenu>
            <button ngbDropdownItem [routerLink]="['cajaresumen']">INFORMACION DE CDP</button>
            <div class="dropdown-divider"></div>
            <button ngbDropdownItem [routerLink]="['cajaresumen']">MANUAL</button>
        </div>
    </li>
  </ul>
  <router-outlet></router-outlet>